
html{
    min-height: 100%; 
    position: relative;  
    
}
body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:12px;
    margin:5%;
    background-color: #111;
    color: #ddd;
}

.overlay{
    display: none;
    height: 100%;
    left: 0;  
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 100; 
    text-align: center;
    vertical-align: middle;
  }

h6 {
    font-size: 12px;
    font-weight: 600;
}


a {
    outline: none;
    color: #ccc;
    text-decoration: none;
}


a[target=_blank] {
    display: inline-block;
    outline: none;
    color: #15bd7b;
    text-decoration: underline;
}



.settings_bar{
    text-align: left;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

}

.settings_bar img{
    margin: 15px;
    width:30px;
}

.settings_bar:hover ul{
    display: block;
}

.settings_bar ul{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -10px;
    padding: 10px;
    font-size:11px;
    cursor: pointer;
}

.settings_bar ul li {
    display: block;
    padding: 5px;
}

.nav_bar {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    overflow: hidden;
    height: 60px;
    white-space: nowrap;
    padding-left: 100px;
    padding-right: 100px;
    
}


.nav_button {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: #ccc;
    cursor: pointer;
}



footer {
    text-align: center;
    background: #131313;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    
}

footer p {
    margin: 0;
    padding: 20px 0;
}

.contacts{
    
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 60px;
    top: 10px;
}




/** CONTENT */



.contentbox {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.moar_button{
    display: block;
}



/* EVENTS */

.events_block{
    display: flex;
}

.event_selector {
    text-decoration: none;
    width: 40%;
    display: block; 
    border: 1px solid #555;
}


.event_title {
    border: 1px solid #444;
    border-radius: 4px;
    background: #555;
    background: linear-gradient(#555, #666);
    padding: 2px;
    margin-bottom: 1px;
     
}


.events_content{
    margin: 0px 20px;
    width: 58%;
    height: 100%;
    display: inline-table;
    border-radius: 5px;
    color: #ddd;
}

.event_descr {
    display: block;
    padding: 10px 20px 15px;
    margin: 10px;
    border: 1px solid #555;
    border-radius: 8px;

}
.event_img{
    display: block;
    text-align: center;
    margin: 15px;
}
.event_loc{
    display: block;
    text-align: center;
    margin: 10px;
}

.event_misc{
    width: 100%;
    border: 1px solid #555;
}
.event_cd{
    display: inline-block;
    width: 35%;
    border-right: 1px solid #555;
    padding: 2px 5px;
}
.event_start{
    display: inline-block;
    width: 30%;
    border-right: 1px solid #555;
    padding: 2px 5px;
}
.event_end{
    display: inline-block;
    width: 30%;
    padding: 2px 5px;
}

/* achieves */


.achieves_block{
    display: flex;
    max-height: 75vh;
}

.achieves_selector {
    text-decoration: none;
    width: 15%;
    display: block; 
    padding-left:21%;
    overflow-x: hidden;
    color: burlywood;
}


.achieves_title {
    border: 1px solid #444;
    border-radius: 4px;
    background: #111;
    padding: 3px;
    margin-bottom: 5px;
     
}

.childs{
    display: block;
    margin-left: 15px;
    border-radius: 7px;
}

.selected_ach{
    background: #191919;
}


.achieves_content{
    display: inline-block;
    margin: 0px 20px;
    width: 40%;
    border: 1px solid #555;
    border-radius: 5px;
    background: #111;
    color: #ddd;
    overflow-x: hidden;
    font-size: 11px;
}

.achieve{
    position: relative;
    display: block;
    width: 100% - 5px;
    background: #111;
    border: 1px solid #333;
    border-radius: 5px;
    min-height: 50px;
    margin: 7px;
    padding-top:7px;
    font-size: 12px;
    color:burlywood;
}

.achieve_img{
    position: absolute;
    display: block;
    text-align: center;
    top: 7px;
    left: 7px;
    border-radius: 3px;
    border: 1px solid burlywood;
}

.achieve_desc {
    display: block;
    margin: 0px 5px 5px;
    padding-top: 5px;
    padding-left:80px;
    padding-right:80px;
    padding-bottom:5px;
    font-size: 11px;
    color: #ccc;

}

.achieve_bg{
    position: absolute;
    display: block;
    text-align: center;
    top: 7px;
    right: 5px;
}

.achieve_bg_left{
    margin: 0px;
}

.achieve_bg_right{
    margin: 0px;
    transform: scaleX(-1);
}



.achieve_points{
    position: absolute;
    display: block;
    text-align: center;
    width: 40px;
    top: 15px;
    right: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #111;
}


.hidden{
    border: 1px solid #473c11;
}



.selector_parent{
    text-align: center;
    padding: 15px;
}

.selector {
    display: inline;
    border: 1px #999;
    border-radius: 5px;
}

select, option {
    border: 1px #292929;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    background: #111;
    color: #eee;
}




table {
    width: 100%;
    margin: 10px;
    border-collapse: separate;
}



/** SEARCH  **/

.search{
    padding-top:10px;
    text-align: center;
}


.search_input::-webkit-input-placeholder{
    color: #ccc;
}

.search_input{
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #111;
    color: #eee;
    font-size:12px;
    outline: none;
    padding: 7px;
}

.search_button{
    background-color: #111;
    border: 1px solid #eee;
    margin-left: -5px;
    font-size:12px;
    color:#eee;
    margin-left:5px;
    padding: 7px;
    border-radius: 5px;
    outline: none;
}

.highlight{
    background-color: rgba(202, 202, 38, 0.6);
}


/** ITEMS */



.itemstat {
    text-align: right;
    font-size: 11px;
    line-height: 1;
    padding-right: 5px;
    display: table-cell;
    width: 42%;
}

.itemstat2 {
    text-align: left;
    font-size: 11px;
    line-height: 1;
    padding-left: 5px;
    display: table-cell;
    width: 58%;
}



.item {
    border: 1px solid #292929;
    background: #111;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 0px;
    margin: 5px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.itemname {
    margin: 0px;
    margin-bottom: 10px; 
    padding: 5px;
    background: #191919;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
}

.item_pic_holder{
    position: relative; 
}

.item_maxcnt{
    position: absolute;
    right: 81px;
    bottom: 8px;
    font-size: 11px;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.small{
    font-size: 11px;
    margin: 0px;
}

.itemtype{
    color: #888
}
.goldentext{
    color: rgb(255, 213, 66);
    line-height: 1;
    margin: 0px 10px;
    font-size: 11px;
}
.reqs{
    color: #55d;
}

.itemowner{
    font-size: 12px;
}


.map_button_bar{
    text-align: center;
    padding: 0px 10px;
}

.map_button{
    padding: 10px 20px;
    margin: 0px 10px;
    background: #111;
    border: 1px solid #222;
    border-radius: 5px;
    outline: none;
    color: #ccc;
     
}


.pic_holder{
    text-align: center;
    width: 70%;
    padding: 20px 0px;
}



.mobbox {
    text-align: center;
    vertical-align: center;
}

.moboblock {
    width: 200px;
    border-bottom: 1px solid #292929;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
    border-radius: 5px;
    margin: 15px;
    display: inline-table;
    background-color: #111;
}


.mobinfo{
    display: inherit;
    vertical-align: bottom;
    width: 146px;
    position: relative;
    text-align: center;
    vertical-align: center;
}

.mobinfo>*{
    position: absolute;
    z-index: 3;
}

.mobname{
    --mobname-width: 120px;
    margin: 0px;
    top: -13px;
    left: -25px;
    width: var(--mobname-width);
}

.mobname>p{
    margin-top: 5px;
    font-size: 10px;
}

.mob__bar{
    height: 9px;
    border-radius: 5px;
    left: -26px;
    margin: 0px;   

}

.mob__number{
    position: inherit;
    width: 127px;
    font-size: 10px;
    top:-3px;
    margin: 0px;
    text-align: center;
}

.hp{
    width: 127px;
    top: 16px;
    background: linear-gradient(rgb(0, 155, 90), rgb(2, 63, 27));
}

.rage {
    top: 31px;
    background: linear-gradient(rgb(165, 24, 24), rgb(63, 2, 2));
}

.info_bg{
    left: -36px;
    top: -21px;
    transform: scaleX(-1);
}

.race{
    left: 150px;
    top: -20px;
    transform: scaleX(-1);
    width: 30px;
    height: 25px;
}

.race>img{
    vertical-align: middle;
}

.mob_level{
    top: 20px;
    left: 106px;
    width: 20px;
}

.avatar{
    z-index: 1;
    top: -7px;
    left: 112px;
}

.empty_space{
    height: 60px;
}

.mobpic{
    display: block;
	margin-top: -20px;
    width: 100%;
    cursor: pointer;
}
.mob_stats{
    display: none;
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.mob_stats>table{
    margin: 0px;
    padding: 0px;
}

.mob_stats td{
    font-size: 11px;
    padding-top: 5px;
    width: 50%;
}

.mob_stats .itemstat2{
    color: goldenrod;
}

.mob_locations{
    display: block;
    padding-bottom: 3px;
}

.mob_locations>p{
    display: block;
    margin: 0px;
    padding-top: 5px;
    font-size: 11px;
    color: #ccc;
}

.mob_locations>span{
    margin: 2px;
    border: 1px solid #292929;
    border-radius: 3px;
    padding: 2px 6px;
    display: inline-flex;
    font-size: 11px;
    color: burlywood;
}


.loot_block{
    width: 100% - 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px solid #292929;
    padding: 1px;

}

.loot_block_title{
    border-top: 1px solid #333;
    background: rgba(20, 20, 20, 0.3);
    padding: 4px;
    cursor: pointer;
}

.loot_block_content{
    display: none;
    padding-top:5px;
    padding-bottom:10px;
    font-size:10px;
}

.drop {
    border: none;
    display: inline-block;
    vertical-align: middle;
    
}
.dropmob {
    border: none;
    display: inline-block;
    vertical-align: middle;
}


.miniimg{
    vertical-align: middle;
    height: 34px;
    width: 34px;
    margin: 1px;
    cursor: pointer;
}

.dropreqs{
    background: rgba(0, 0, 0, 0.4);
}


/*



ODEVALKA



*/

.buttonholder{
    text-align: center;
}

#odevalka_change{
    text-align: center;
    padding: 10px 20px;
    margin: 0px 10px;
    background: rgba(100, 100, 100, 0.4);
    border: 2px solid #222;
    border-radius: 7px;
    outline: none;
     
}

.char{
    display: inline-table;
    border: 5px solid #222;
    border-radius: 7px;
    margin: 1%;
    
}

.char>div>table{
    padding: 0px;
    margin: 0px;
    border-right: 3px solid #222;
    border-left: 3px solid #222;
}
.char>div{
    display: inline-block;
    vertical-align: middle;
}



.socketimg{
    display: inline-block;
    background: url(../img/magicmarket/socket.png) no-repeat;
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 5px;
    align-items: center;
    vertical-align: middle;
}

.socketimg>div{
    font-size: 11px;
    border: 1px solid #1111;
    background: #1117;
    border-radius: 2px;
    align-self: center;
    display: inline-flex;
    vertical-align: middle;
    margin-top: 17px;
}

.itemslot{
    width: 42px;
    height: 42px;
    border: 1px solid;
    padding: 0px;
    position: relative;
}

.borderedpic{
    border: 1px solid;
    border-radius: 3px;
    padding: 0px;
    margin: 3px;
}

.system_message{
    color: red;
}

.legend{
    border-color: #f3a95e;
}

.epic{
    border-color: #c556f7;
}

.rare{
     border-color: #3890f7;
}

.uncommon{
     border-color: #07b155;
}

.common{
    border-color: grey;
}


.legend_text{
    color: #f3a95e;
}

.epic_text{
    color: #c556f7;
}

.rare_text{
     color: #3890f7;
}

.uncommon_text{
     color: #07b155;
}

.common_text{
    color: #ede7d3;
}




.itemselect{
    position: absolute;
    z-index: 2;
    border: 1px solid #222;
    border-radius: 5px;
    max-height: 200px;
    width: 400px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
}

.option{
    border-bottom: 2px solid #333;
    background: #666;
    padding: 0px;
    
}

.option_item_img{
    display: inline-flex;
    vertical-align: middle;
    margin: 0px;
}
.option_item_name{
    display: inline-flex;
    vertical-align: middle;
    margin: 0px;
}


.doll {
    background: url('../img/char.jpg') no-repeat;
}


.reversed .doll{
    transform: scaleX(-1);
    align-self: right;
}
.reversed .itemselect{
    margin-left: -100%;
}


.char_stats{
    border-right: 0px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0px 10px;
    min-width: 210px;
    text-align: left;
}

.char_stats>div{
    width: 100%;
    display: block;
    color: #ccad00;
}
.statname {
    display: inline-block;
    width: 130px;
    color: #ccc;
}

.whitestat {
    color: #ccc;
}
.leftbonus{
    color: #888;
}



input.whitestat{
    border: none;
    background: rgba(255, 255, 255, 0);
    width: 26px;
    font-size: 15px;
    color: #ccc;
    outline: none;
}

input.whitestat:focus{
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    outline: none;
    border-radius: 6px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}






/*buffs*/

.buff_block{
    position: relative;
    color:burlywood;
    font-size:10px;
}

.buff_tooltip{
    display: block;
    background-color: rgba(17, 17, 17, 0.9);
    border: 1px solid #292929;
    border-radius: 5px;
    position: absolute;  
    z-index: 30;
    width: 180px; 
    left: 100px;  
    top: 10px;
    font-size:11px;
    text-align: left;
    padding: 10px;
}

.buff_name{
    padding-bottom: 3px;
}

.buff_descr{
    color: rgb(255, 213, 66);
    font-size: 11px;
}


.buffimg{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}


.buffcolor1{ 
    border-color: burlywood;
}

.buffcolorundefined{
    border-color: burlywood;
}



