
html{
    min-height: 100%; 
    position: relative;  
    
}
body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ccc;
    background-size: contain;
}


h6 {
    font-size: 12px;
}


.nav_bar {
    text-align: center;
    background: rgba(60, 60, 60, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav_button {
    font-size: 17.5px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: #ccc;
}


footer {
    text-align: center;
    background: #fff;
    background: rgba(60, 60, 60, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    
}

footer p {
    margin: 0;
    padding: 20px 0;
}

.contentbox {
    margin: 0px 60px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px 15px;
    background: rgba(60, 60, 60, 0.9);
}


.events_block{
    display: flex;
}

.event_selector {
    text-decoration: none;
    width: 40%;
    display: block; 
    border: 3px solid #555;
}


.event_title {
    border: 1px solid #444;
    border-radius: 4px;
    background: #555;
    background: linear-gradient(#555, #666);
    padding: 2px;
    margin-bottom: 1px;
     
}


.events_content{
    margin: 0px 20px;
    width: 58%;
    height: 100%;
    display: inline-table;
    border: 3px solid #555;
    border-radius: 5px;
    background: #666;
    color: #ddd;
}

.event_descr {
    display: block;
    padding: 10px 20px 15px;
    margin: 10px;
    border: 3px solid #555;
    background: #777;
    border-radius: 8px;

}
.event_img{
    display: block;
    text-align: center;
    margin: 15px;
}
.event_loc{
    display: block;
    text-align: center;
    margin: 10px;
}

.event_misc{
    width: 100%;
    border: 1px solid #555;
}
.event_cd{
    display: inline-block;
    width: 35%;
    border-right: 1px solid #555;
    padding: 2px 5px;
}
.event_start{
    display: inline-block;
    width: 30%;
    border-right: 1px solid #555;
    padding: 2px 5px;
}
.event_end{
    display: inline-block;
    width: 30%;
    padding: 2px 5px;
}

.selector_parent{
    text-align: center;
    padding: 15px;
}

.selector {
    display: inline;
    border: 1px #999;
    border-radius: 5px;
}

select, option {
    border: 3px #999;
    border-radius: 5px;
    font-size: 24;
    outline: none;
    background: #555;
    color: #ccc;
}




table {
    width: 100%;
    margin: 10px;
    padding: 3px;
    border-collapse: separate;
}


.itemstat {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding-right: 5px;
    display: table-cell;
    width: 42%;
}

.itemstat2 {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding-left: 5px;
    display: table-cell;
    width: 58%;
}



.item {
    border: 3px solid #222;
    text-align: center;
    border-radius: 5px;
    background: #222;
    padding: 0px;
    margin: 1%;
    display: inline-block;
    width: 22%;
    vertical-align: top;
}

.itemname {
    margin: 0px;
    margin-bottom: 10px; 
    padding: 5px;
    background: #444;
    display: block;
    border-radius: 5px;
    font-size: 14px;
}

.small{
    font-size: 11px;
    margin: 0px;
}

.itemtype{
    color: #666
}
.goldentext{
    color: gold;
    line-height: 1;
    margin: 0px 10px;
    font-size: 14px;
}
.reqs{
    color: #55d;
}


.golden{
    border: solid gold;
}

.silver{
    border: solid silver;
}

.bronze{
    border:solid chocolate; 
}

.coin{
    border-left-width: 4px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    display: inline-block;
}


.map_button_bar{
    text-align: center;
    padding: 0px 10px;
}

.map_button{
    padding: 10px 20px;
    margin: 0px 10px;
    background: rgba(100, 100, 100, 0.4);
    border: 2px solid #222;
    border-radius: 7px;
    outline: none;
    color: #ccc;
     
}


.pic_holder{
    text-align: center;
    width: 100%;
    padding: 20px;
}




.mobbox {
    text-align: center;
    vertical-align: center;
}

.moboblock {
     
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px;
    display: inline-table;
    background: #444;
}

.mobinfo{
    display: inherit;
    vertical-align: bottom;
    width: 146px;
}

.mobname{
    text-align: right;
    font-weight: 500;
    margin: 0px;
    vertical-align: middle;
}

.mobhp{
    border: 4px solid #333;
    border-radius: 10px;
    background: green;
    width: 95%;
    margin: 0px;
}

.avatar_level{
    position: relative;
    display: inline-block;
}

.mob_level{
    position: absolute;
    top: 30px;
    left: 0px;
    background: #444;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 4px ;
    width: 26%;
    height: 26%;
    text-align: center;
    vertical-align: center;
}

.avatar{
    display: inline;
    border: 5px solid #222;
    border-radius: 38px;
}

.mobpic{
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}


/*



ODEVALKA



*/

#odevalka_change{
    text-align: center;
    padding: 10px 20px;
    margin: 0px 10px;
    background: rgba(100, 100, 100, 0.4);
    border: 2px solid #222;
    border-radius: 7px;
    outline: none;
     
}

.char{
    display: inline-table;
    border: 5px solid #222;
    border-radius: 7px;
    margin: 20px;
}

.char>div>table{
    padding: 0px;
    margin: 0px;
    border-right: 3px solid #222;
    border-left: 3px solid #222;
}
.char>div{
    display: inline-block;
    vertical-align: middle;
}


.itemslot{
    width: 42px;
    height: 42px;
    border: 1px solid;
    padding: 0px;
}

.borderedpic{
    border: 1px solid;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
}

.legend{
    border-color: orangered;
}

.epic{
    border-color: RebeccaPurple;
}

.rare{
     border-color: #014682;
}

.uncommon{
     border-color: green;
}

.common{
    border-color: grey;
}



.itemselect{
    position: absolute;
    z-index: 2;
    border: 3px solid #222;
    border-radius: 5px;
    max-height: 220px;
    overflow: scroll;
    overflow-x: hidden;
}

.option{
    border-bottom: 2px solid #333;
    background: #666;
    padding: 0px;
    
}

.option_item_img{
    display: inline-flex;
    vertical-align: middle;
    margin: 0px;
}
.option_item_name{
    display: inline-flex;
    vertical-align: middle;
    margin: 0px;
}


.doll {
    background: url('../img/char.jpg') no-repeat;
}


.reversed .doll{
    transform: scaleX(-1);
    align-self: right;
}


.char_stats{
    border-right: 0px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0px 10px;
}